# The timeout for the database connection in needed to make the docker config work
# Also note that the host is `postgres` and not `localhost` for .docker.env!
# You need both .env and .docker.env to make it work for both docker and non-docker environments locally.
# In production, only the actual env variables injected into the runtime environment are used.

DATABASE_URL="postgresql://postgres:example@postgres:5432/db?schema=public?connect_timeout=10"
DIRECT_URL="postgresql://postgres:example@postgres:5432/db?schema=public?connect_timeout=10"

## All other variables are the same as in the .env.example, just the DATABASE_URL and DIRECT_URL are different
