# The timeout for the database connection in needed to make the docker config work
# Also note that the host is `postgres` and not `localhost` for .docker.env!
# You need both .env and .docker.env to make it work for both docker and non-docker environments.

DATABASE_URL="postgresql://postgres:example@postgres:5432/db?schema=public?connect_timeout=300"
DIRECT_URL="postgresql://postgres:example@postgres:5432/db?schema=public?connect_timeout=300"
JWT_ACCESS_SECRET="some-long-secret-value-like-uuid"
JWT_REFRESH_SECRET="some-other-long-secret-value-like-uuid"
